$swiss-font: 'Questrial', sans-serif;
$normal-font: 'Arimo', sans-serif;
$background: #fff;
$accent: #102542;
$accent2: #EE6352;



html, body {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color: $background;
    min-width: 340px;
    font-family: $normal-font !important;
    font-size: 15px !important;
}

p {
    margin: 0 0 0 0px !important;

}

.swiss {
    font-family: $swiss-font;
}

.row {
    margin-right: 0px !important;
    margin-left: 0px !important;
}

.col-sm-6 {
    padding-right: 0px !important;
    padding-left: 0px !important;
    &.bio {
        padding-right: 15px !important;
        padding-left: 15px !important;
    }
}

.label-style {
    color: black;
    word-spacing: -1px;
    text-transform: uppercase; 
    font-weight: 900;
    &.navbar-brand {
        font-size: 18px !important;
    }
    &.navbar-item {
        font-size: 18px !important;
        float: left;
        padding: 20px 15px 15px 15px;
        line-height: 20px;
    }
}

.navbar { 
    height: 60px !important;
    margin-bottom: 0px !important;
    border: 0px !important;
    a:hover {
        text-decoration: none;
    }
    .glyphicon-down {
    margin-top: 20px;
    margin-right: 20px;
    }
    .menu-bar {
        -webkit-transition: background-color ease-in-out .3s;
        -moz-transition: background-color ease-in-out .3s;
        -o-transition: background-color ease-in-out .3s;
        transition: background-color ease-in-out .3s;
    }
    .menu-bar:hover {
        background-color: black;
        color: white;
        &.menu-bar:hover a { 
            color: white;
            cursor: pointer; 
            cursor: hand;
            text-decoration: none;
        }
    }
    a { 
        color: black;
        -webkit-transition: color ease-in-out .3s;
        -moz-transition: color ease-in-out .3s;
        -o-transition: color ease-in-out .3s;
        transition: color ease-in-out .3s;
    }
}

.col-xs-6 {
    &.menu-bar {
        height: 100%;
    }
}

.panel-11 {
    font-family: $swiss-font;
}

.panel-12 {
    background-color: black;
    color: white !important;
    font-family: $swiss-font;
}

.panel-1, .panel-4, .panel-5, .panel-6, .panel-7, .panel-8, .panel-9, .panel-10 {
    img {
    max-width:100% !important;
    max-height:100% !important;
    }
}

.panel-1, .panel-8 {
    padding: 0px !important;
}





